openapi: 3.0.1
info:
  contact:
    email: hrapi@iris.co.uk
    name: Iris Software Group
    url: https://help.iris.co.uk/hr/cascade/api/
  description: <a href='swaggerv2.json'>Download Swagger Json in OAS2 Format.</a>
  title: HR API
  version: "2"
  x-konfig-has-globally-required-security: true
servers:
- url: https://api.iris.co.uk/hr/v2
security:
- Bearer: []
tags:
- name: Absences
- name: AbsenceDays
- name: Employees
- name: Jobs
- name: BankDetails
- name: Hierarchy
- name: AbsenceReasons
- name: Entitlements
- name: Benefits
- name: PublicHolidays
paths:
  /employees:
    get:
      operationId: Employees_getList
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeQueryModel'
          description: Success
      summary: Gets a list of Employees.
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employees
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
    post:
      operationId: Employees_createNewEmployee
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/CreateEmployeeCommand'
        description: New Employee.
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployeeResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeesCreateNewEmployee200Response'
          description: Success
      summary: Creates a new Employee.
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--employees
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=2
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
  /employees/{id}:
    get:
      operationId: Employees_getById
      parameters:
      - description: Employee ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/EmployeeModel'
          description: Success
      summary: Gets a single Employee referenced by ID.
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--employees-id
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
    put:
      operationId: Employees_updateById
      parameters:
      - description: The ID of Employee to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateEmployeeCommand'
        description: The new state of the Employee.
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
          x-do-not-generate: true
      summary: Update an Employee referenced by ID.
      tags:
      - Employees
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--employees-id
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=2
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
  /jobs:
    get:
      operationId: Jobs_getList
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobQueryModel'
          description: Success
      summary: Gets a list of Jobs.
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--jobs
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
    post:
      operationId: Jobs_createNewJob
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/CreateJobCommand'
        description: New Job.
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJobResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsCreateNewJob200Response'
          description: Success
      summary: Creates a new Job.
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--jobs
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=2
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
  /jobs/{id}:
    get:
      operationId: Jobs_getById
      parameters:
      - description: Job ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetByIdResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=minimal; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=full; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.metadata=none; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.streaming=true; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json;odata.streaming=false; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/xml; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            application/prs.odatatestxx-odata; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            text/plain; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
            text/json; version=2:
              schema:
                $ref: '#/components/schemas/JobsGetById200Response'
          description: Success
      summary: Gets a single Job referenced by an ID.
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--jobs-id
      x-accepts: "application/json; version=2,application/json;odata.metadata=full;\
        \ version=2,application/json;odata.metadata=full;odata.streaming=false; version=2,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=minimal; version=2,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=2,application/json;odata.metadata=none; version=2,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=2,application/json;odata.metadata=none;odata.streaming=true; version=2,application/json;odata.streaming=false;\
        \ version=2,application/json;odata.streaming=true; version=2,application/prs.odatatestxx-odata;\
        \ version=2,application/xml; version=2,text/json; version=2,text/plain; version=2"
    put:
      operationId: Jobs_updateById
      parameters:
      - description: The ID of the Job to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=minimal; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=full; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.metadata=none; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.streaming=true; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json;odata.streaming=false; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/xml; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/prs.odatatestxx-odata; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          text/json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
          application/*+json; version=2:
            schema:
              $ref: '#/components/schemas/UpdateJobCommand'
        description: The new state of the Job.
      responses:
        "204":
          description: Success
      summary: Update a Job referenced by an ID.
      tags:
      - Jobs
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--jobs-id
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=2
      x-accepts: application/json
  /hierarchy:
    get:
      operationId: Hierarchy_getList
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeQueryModel'
          description: Success
      summary: Gets a list of Hierarchy Nodes.
      tags:
      - Hierarchy
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--hierarchy
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /hierarchy/{id}:
    get:
      operationId: Hierarchy_getNodeById
      parameters:
      - description: Hierarchy Node ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
          description: Success
      summary: Gets a single Hierarchy Node by ID.
      tags:
      - Hierarchy
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--hierarchy-id
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /hierarchy/{id}/path:
    get:
      operationId: Hierarchy_getPathById
      parameters:
      - description: Hierarchy Node ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/HierarchyNodeModel'
          description: Success
        "404":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Not Found
          x-do-not-generate: true
      summary: Gets a Hierarchy Path by ID. The path is an array of nodes traversed
        from the root to the node specified.
      tags:
      - Hierarchy
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--hierarchy-id-path
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /bankdetails:
    get:
      operationId: BankDetails_getList
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsQueryModel'
          description: Success
      summary: Gets a list of Bank Details.
      tags:
      - BankDetails
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--bankdetails
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
    post:
      operationId: BankDetails_createBankDetail
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/CreateBankDetailsCommand'
        description: The value of Bank Details.
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetailResponse'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsCreateBankDetail200Response'
          description: Success
      summary: Creates a Bank Details.
      tags:
      - BankDetails
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--bankdetails
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=1
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /bankdetails/{id}:
    get:
      operationId: BankDetails_getById
      parameters:
      - description: Bank Details ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/BankDetailsModel'
          description: Success
      summary: Gets a single Bank Details by an ID.
      tags:
      - BankDetails
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--bankdetails-id
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
    put:
      operationId: BankDetails_updateBankDetail
      parameters:
      - description: The ID of Bank Details to update.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json;odata.metadata=minimal;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=minimal;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=minimal; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=full; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.metadata=none; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.streaming=true; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json;odata.streaming=false; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/xml; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/prs.odatatestxx-odata; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          text/json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
          application/*+json; version=1:
            schema:
              $ref: '#/components/schemas/UpdateBankDetailsCommand'
        description: The value of Bank Details.
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          description: Bad Request
          x-do-not-generate: true
      summary: Updates Bank Details.
      tags:
      - BankDetails
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--bankdetails-id
      x-content-type: application/json;odata.metadata=minimal;odata.streaming=true;
        version=1
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /attendance/absencereasons:
    get:
      operationId: AbsenceReasons_list
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonQueryModel'
          description: Success
      summary: Gets a list of Absence Reasons
      tags:
      - AbsenceReasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendance-absencereasons
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /attendance/absencereasons/{id}:
    get:
      operationId: AbsenceReasons_getById
      parameters:
      - description: Absence Reason ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/AbsenceReasonModel'
          description: Success
      summary: Gets a single Absence Reason referenced by ID.
      tags:
      - AbsenceReasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendance-absencereasons-id
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /attendance/absencereasons/{id}/employees/{employeeId}:
    get:
      operationId: AbsenceReasons_getEmployeeById
      parameters:
      - description: Absence Reason ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: Employee ID.
        explode: false
        in: path
        name: employeeId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/EmployeeAbsenceReasonModel'
          description: Success
      summary: Gets a single Employee Absence Reason referenced by ID.
      tags:
      - AbsenceReasons
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--attendance-absencereasons-id-employees-employeeId
      x-accepts: "application/json; version=1,application/json;odata.metadata=full;\
        \ version=1,application/json;odata.metadata=full;odata.streaming=false; version=1,application/json;odata.metadata=full;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=minimal; version=1,application/json;odata.metadata=minimal;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=minimal;odata.streaming=true;\
        \ version=1,application/json;odata.metadata=none; version=1,application/json;odata.metadata=none;odata.streaming=false;\
        \ version=1,application/json;odata.metadata=none;odata.streaming=true; version=1,application/json;odata.streaming=false;\
        \ version=1,application/json;odata.streaming=true; version=1,application/prs.odatatestxx-odata;\
        \ version=1,application/xml; version=1,text/json; version=1,text/plain; version=1"
  /attendance/entitlements:
    get:
      operationId: Entitlements_getList
      parameters:
      - description: "Show only the first n items, maximum of 250, see [Paging - Top](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)"
        explode: true
        in: query
        name: $top
        required: false
        schema:
          maximum: 250
          minimum: 0
          type: integer
        style: form
      - description: "Skip the first n items, see [Paging - Skip](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)"
        explode: true
        in: query
        name: $skip
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: "Filter items by property values, see [Filtering](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)"
        explode: true
        in: query
        name: $filter
        required: false
        schema:
          type: string
        style: form
      - description: "Select properties to be returned, see [Select](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)"
        explode: false
        in: query
        name: $select
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "Order items by property values, see [Sorting](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)"
        explode: false
        in: query
        name: $orderby
        required: false
        schema:
          type: string
          uniqueItems: true
        style: form
      - description: "Include count of items, see [Count](https://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)"
        explode: true
        in: query
        name: $count
        required: false
        schema:
          minimum: 0
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json;odata.metadata=minimal;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=minimal;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=minimal; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=full; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.metadata=none; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.streaming=true; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json;odata.streaming=false; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/xml; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            application/prs.odatatestxx-odata; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            text/plain; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
            text/json; version=1:
              schema:
                $ref: '#/components/schemas/EntitlementQueryModel'
          description: Success
      summary: Gets a list of Entitlements.
      tags:
      - Entitlements
      x-konfig-operation-can-have-single-parameter: true
[...]
